@import "tailwindcss";

@theme {
  /* Image Palette */
  --color-brand-primary: #9EE970;
  --color-brand-bg: #EBEDF0;
  --color-brand-dark: #254F4C;
  --color-brand-gray: #474C59;
  --color-brand-white: #FFFFFF;

  /* Font */
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  font-family: var(--font-inter);
  color: var(--color-brand-gray);
}